<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<typeAliases>
<typeAlias type="com.fourmeeting.bee.member.model.vo.Member" alias="Member" />
<typeAlias type="com.fourmeeting.bee.bees.model.vo.Bees" alias="bees"></typeAlias>
<typeAlias type="com.fourmeeting.bee.bees.model.vo.Setting" alias="setting"></typeAlias>
<typeAlias type="com.fourmeeting.bee.beesuser.model.vo.BeesUser" alias="beesUser"></typeAlias>
<typeAlias type="com.fourmeeting.bee.notice.model.vo.Notice" alias="notice"></typeAlias>
</typeAliases>
</configuration>
